/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'assets/scss/abstracts/variables';
@import 'assets/scss/vendor/libs';
@import 'assets/scss/abstracts/functions';
@import 'assets/scss/abstracts/mixins';
@import 'assets/scss/base/fonts';
@import 'assets/scss/base/general';
@import 'assets/scss/base/keyframes';
@import 'assets/scss/components/components';


html,
body {
    margin:0;
    height: 100%;
    font-family: Muli-Regular;
}


// Material checkbox converted 
